x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  env_file:
    - airflow.env
  volumes:
    - ./jobs:/opt/airflow/jobs
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./data:/opt/airflow/data
    - ./data:/opt/data
    - ./keys:/opt/keys
  depends_on:
    - postgres
  networks:
    - code-with-yu

services:
  spark-master:
    image: bitnamilegacy/spark:latest
    container_name: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"
      - "8090:8080"
    volumes:
      - ./spark:/opt/spark-apps
      - ./keys:/opt/keys
      - ./data:/opt/data
    networks:
      - code-with-yu

  spark-worker:
    image: bitnamilegacy/spark:latest
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    volumes:
      - ./spark:/opt/spark-apps
      - ./keys:/opt/keys
      - ./data:/opt/data
    networks:
      - code-with-yu

  postgres:
    image: postgres:14.0
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - code-with-yu

  webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      scheduler:
        condition: service_started
    volumes:
      - ./data:/opt/airflow/data
      - ./dags:/opt/airflow/dags
      - ./data:/opt/data
      - ./keys:/opt/keys

  scheduler:
    <<: *airflow-common
    command: bash -c "airflow db init && airflow users create --username admin --firstname Yusuf --lastname Ganiyu --role Admin --email airscholar@gmail.com --password admin || true && airflow scheduler"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./data:/opt/airflow/data
      - ./dags:/opt/airflow/dags
      - ./keys:/opt/airflow/keys
      - ./data:/opt/data
      - ./keys:/opt/keys

networks:
  code-with-yu: